.contact {
    background-color: rgba(33, 37, 41, var(--bs-bg-opacity, 1));
}

#contImg {
    max-width: 250px;

    &:hover {
        transform: scale(2, 2);
    }
}

#contactoButton {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: $font20;
    background-color: $color-principal;
    border-radius: 5px;
    max-width: 200px;
}

textarea {
    resize: none;
}